@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./picture/image.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

/* section1 */
.top-banner{
    margin: 10px 30px ;
}
.header{
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 20px;
}
.top-banner form {
    display: flex;
    flex-direction: column;
}
.top-banner form input {
    background: none;
    border: none;
    outline: none;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    border-bottom: 1px solid #000;
}
form input::placeholder {
    font-size: 1.4rem;
    letter-spacing: 0.05rem;
}
.top-banner form button {
    border: none;
    background: #b63248;
    color: #fff;
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.4s;
    cursor: pointer;
}
.top-banner form button:hover{
    background: #eb4b66;
    transform: scale(1.1);
}
.msg{
    margin: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}
.weatherReport-banner {
    margin: 30px 20px;
}
.show-weather {
    display: grid;
    grid-gap:20px 20px;
}
.city-information {
    background: #fff;
    width: 90%;
    border-radius: 20px;
    list-style-type: none;
    padding: 20px 30px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(64, 64, 75);
}
.city-temp {
    font-size: 3rem;
    font-weight: bold;
    margin: 10px 0;
    color: #000;
}
.city-information figure {
    display: flex;
    flex-direction: column;
}
.city-information figure img {
    width: 100px;
    padding-bottom: 10px;
}

/* responsive */
@media only screen and (min-width:768px),(min-width :1080px) {
    .show-weather {
        grid-template-columns: repeat(3, 1fr);
    }
    .header {
        font-size: 4rem;
    }
    .top-banner form {
        flex-direction: row;
    }
    .top-banner form button {
        margin-left: 30px;
        width: 130px;
        padding: 3px;;
        font-size: 1rem;
    }
}